<!-- 상단 헤더 불러오기 -->
<?php include('../sub_header.php'); ?>

<div class="snb-wrap">
	<div>
		<ul>
			<li class="on"><a href="./notice_list.html"><span>공지사항</span></a></li>
			<li><a href="./free_list.html"><span>자유게시판</span></a></li>
			<li><a href="./gallery_list.html"><span>갤러리</span></a></li>
		</ul>
	</div>
</div>
<div class="contents">

  <div class="notice-wrap">
		<div class="notice-box">
			<div class="bbs-view">
				<div class="view-hd">
					<span class="bbs-view-date">2021-04-16</span>
					<h2>크리넥스는 환경을 보호합니다.</h2>			
					<span>글쓴이: <b>관리자</b></span>
				</div>
				<div class="view-cont">
					<p>크리넥스는 환경 보호 중<br/>열심히 실천 중입니다.</p>
				</div>
				
				<div class="view-file">
					<a href=""><i class="fa fa-download" aria-hidden="true"></i> 첨부파일명.jpg</a>
					<a href=""><i class="fa fa-download" aria-hidden="true"></i> 첨부파일명.jpg</a>
				</div>
			</div>
			<div class="table-btn">
				<a href="../bbs/notice_list.html">목록으로</a>
				<a href="" class="del">삭제</a>
				<a href="" class="mod">수정</a>
			</div>
		</div>
  </div>
</div>
<!--contents 끝-->

<!-- 하단 헤더 불러오기 -->
<?php include('../sub_footer.php'); ?>
